<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Patients</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
    <style>
        body {
            background: #89CFF0;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand">
        <img class="img-fluid" src="logo.png" alt="Day Hospital" width="250px" height="80">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/createPatient">Create Folder</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/showPatients">Show Patients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/createAppointment">Create Appointment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/showAppointments">View Appointments</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item me-5">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<header>
    <h1 class="fw-bolder text-center">Patients</h1>
</header>

<div class="table-container mt-5">
    <table class="table table-dark">
        <thead class="bg-purple2 text-white">
        <tr>
            <th scope="col">PATIENT ID</th>
            <th scope="col">FIRST NAME</th>
            <th scope="col">LAST NAME</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody class="bg-white text-dark">
        <tr th:each="patient: ${patientList}">
            <form action="/updatePatient" method="post" style="display: inline;">
                <input type="hidden" name="appointmentId" th:value="${patient.patientId}">
                <td>
                    <input type="text" name="appointmentId" th:value="${patient.patientId}" class="form-control"
                           readonly>
                </td>
                <td>
                    <input type="text" name="firstName" th:value="${patient.firstName}" class="form-control">
                </td>
                <td>
                    <input type="text" name="lastName" th:value="${patient.lastName}" class="form-control">
                </td>
                <td>
                    <button type="submit" class="btn btn-danger">Update</button>
                </td>
            </form>
            <td>
                <form action="/deletePatient" method="post" style="display: inline;">
                    <input type="hidden" name="appointmentId" th:value="${patient.patientId}">
                    <button type="submit" class="btn btn-warning">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>