<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Appointment Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        body {
            background: #89CFF0;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand">
        <img class="img-fluid" src="logo.png" alt="Day Hospital" width="250px" height="80">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/createPatient">Create Folder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/showPatients">Show Patients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/createAppointment">Create Appointment</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="showAppointments">View Appointments</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item me-5">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>


<div class="table-container mt-5">
    <table class="table table-dark">
        <thead class="bg-purple2 text-white">
        <tr>
            <th scope="col">APPOINTMENT ID</th>
            <th scope="col">DATE</th>
            <th scope="col">FIRST NAME</th>
            <th scope="col">LAST NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">MOBILE</th>
            <th scope="col">TIME</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="bg-white text-dark">
        <tr th:each="appointment : ${appointmentList}">
            <form action="/updateAppointment" method="post" style="display: inline;">
                <input type="hidden" name="appointmentId" th:value="${appointment.appointmentId}">
                <td>
                    <input type="text" name="appointmentId" th:value="${appointment.appointmentId}" class="form-control"
                           readonly>
                </td>
                <td>
                    <input type="date" name="date" th:value="${appointment.date}" class="form-control">
                </td>
                <td>
                    <input type="text" name="firstName" th:value="${appointment.firstName}" class="form-control">
                </td>
                <td>
                    <input type="text" name="lastName" th:value="${appointment.lastName}" class="form-control">
                </td>
                <td>
                    <input type="text" name="email" class="form-control" th:value="${appointment.email}">
                </td>
                <td>
                    <input type="text" name="mobile" class="form-control" th:value="${appointment.mobile}">
                </td>
                <td>
                    <input type="text" name="time" class="form-control" th:value="${appointment.time}">
                </td>
                <td>
                    <button type="submit" class="btn btn-danger">Update</button>
                </td>
            </form>
            <td>
                <form action="/deleteAppointment" method="post" style="display: inline;">
                    <input type="hidden" name="appointmentId" th:value="${appointment.appointmentId}">
                    <button type="submit" class="btn btn-warning">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>
</html>
